* {
	margin: 0;
	padding: 0
}
body {
	height: 100vh;
	min-width: 320px;
	max-width: 1920px;
	color: rgb(38, 50, 56);
	background-color: rgb(236, 239, 241);
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: Montserrat, sans-serif;
}
.content {
	margin: 20px auto;
	max-width: 1200px;
	background-color: #fff;
	border-radius: 5px;
}
.content-title {
	padding: 20px;
	border-bottom: 1px solid rgb(236, 239, 241);
}
.content-body {
	padding: 20px;
}
.header {
	background-color: rgb(176, 190, 197);
}
.logo {
	background-color: rgb(41, 182, 246);
}
.logo:hover {
	background-color: rgb(38, 198, 218) !important;
}
.logo img {
	position: relative;
	top: 7px;
}
.header ul {
	margin: 0;
	list-style: none;
	line-height: 39px;
}
.main-menu, .main-account {
	display: inline-block;
}
.main-menu li,
.main-account li {
	display: inline;
}
.header li {
	padding: 10px 15px;
	margin-right: -3px;
}
.header li:hover {
	background-color: rgb(207, 216, 220);
}
.header a,
#menu {
	color: rgb(38, 50, 56);
	font-weight: 500;
	text-decoration: none;
}
.main-account {
	float: right;
}
.drop {
	display: none;
	width: 230px;
	background-color: rgb(41, 182, 246);
	padding: 0 !important;
	z-index: 999;
	position: absolute;
	right: 0;
	top: 39px;
}
.drop li {
	display: block;
	border-bottom: 1px solid rgb(236, 239, 241);
	padding: 0 15px !important;
}
#menu > li {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 15px !important;
}
.info:hover {
	background-color: rgb(41, 182, 246) !important;
	cursor: default;
}
.category {
	font-weight: 600;
	margin-bottom: 5px;
}
.telephone {
	font-weight: 300;
}
table, td {
	border: 1px solid #6c757d;
	border-collapse: collapse;
	padding: 10px;
}
table {
	width: 100%;
}
th {
	padding: 10px;
	background-color: rgba(237, 242, 245, 0.9);
}
.shift-selected {
	background-color: rgb(38, 198, 218);
}
.shift-vacation {
	background-color: red;
}
.shift-cancel {
	height: 40px;
	padding: 0;
}
.left-column {
	display: inline-block;
	width: 400px;
	margin-right: 20px;
	text-align: right;
	font-weight: 600;
}
.right-column {
	display: inline-block;
	float: right;
	width: 720px;
}
.row {
	margin-bottom: 15px;
}
.center {
	text-align: center;
}
label {
	font-size: 12pt;
}
input {
	border: 1px solid rgb(207, 216, 220);
	padding: 4px 7px;
	width: 100%;
}
button {
	padding: 10px 20px;
	border-radius: 25px;
	border: none;
	font-size: 12pt;
}
.mt25 {
	margin: 25px auto 0;
}
.btn-blue {
	background: rgb(41, 182, 246);
	color: white;
}
.btn-blue:hover {
	background: rgb(38, 198, 218);
}
.menu-open {
	display: block;
}

.column-half {
	width: 567px;
	display: inline-block;
}

.categories {
	margin: 15px;
	font-weight: 600;
	text-align: center;
	margin: 30px 0;
}

.categories:first-child {
	margin-top: 0;
}

.workers-list {
	text-align: right;
	margin-right: 20px;
}