* {
    margin: 0;
    padding: 0
}
body {
    height: 100vh;
    min-width: 320px;
    max-width: 1920px;
    color: #434349;
    background-color: #f2f3f8;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
}

.content {
  margin: 20px auto;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 5px;
}
.content-title {
  padding: 20px;
  border-bottom: 1px solid #e2e5ec;
}
.content-body {
  padding: 20px;
}

.header {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
}
.header ul {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 0;
  }
  
  .header li {
    display: inline;
    padding: 10px 15px;
  }

  .header li:hover {
    background-color: aqua;
  }

  .header a {
    color: #0088cc;
    text-decoration: none;
  }

  .main-account {
    float: right;
  }

table, td {
    border: 1px solid #6c757d;
    border-collapse: collapse;
    padding: 10px;
}

table {
    width: 100%;
}

th {
    padding: 10px;
    background-color: #e2e5ec;
}

.shift-selected {
    background-color: #17a2b8;
}
